<%- include('../partials/admin-header'); -%>
<title>List Master Data -Dramalite</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="/css/auth.css">

<style>
    .paging_simple_numbers{
        display: grid;
    }
    .admin-headerL{
        width: 20px;
    }
    .td-class a{
        text-decoration:none ;
    }
</style>

<a href="/devadmin/add-master-data" class="btn btn-success">ADD MASTER DATA</a>

<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
      <th class="admin-header"> Name</th>
      <th class="admin-headerL "> Type</th>
      <th class="admin-header"> Options</th>
    </tr>
    </thead>
    <tbody>
        <% masterData.forEach (function (m){%>
    <tr>
      <td class="td-class" style="font-weight: 600;"><%= m.name %></td>
      <td class="td-class"><%= m.type %></td>
      <td class="td-class">
          <a style="color: green;margin-right: 5px;" href="/devadmin/edit-master-data/<%= m._id %>"><i class="fas fa-user-edit"></i>Edit</a>
          <a href="/devadmin/delete-master-data/<%= m._id %>" onclick="return confirm('Are You Sure want to Delete ')"><i class="fas fa-trash"></i></a>
       </td>
    </tr>
    <% });%>
    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Option</th>
        </tr>
    </tfoot>
  </table>







 







<script>
  $(function(){
    $('#example').DataTable();
  });
</script>

<%- include('../partials/footer'); -%>