<%- include('../partials/header'); -%>
<title>Malayalam Tamil Hindi Hollywood Movies New Download Cast Story Free -Dramalite</title>
<meta name="description" content="Malayalam Movies and Tamil Telugu Hindi Webseries  Release Date Reviews Videos  Cast & Crew  Film Poster">
<link rel="canonical" href="https://dramalite.com">
<!-------------------------------LATEST UPDATE---------------------------->
<div class="other-sec">
    <div class="left-blue-header">
        <h2>Latest Update</h2>
        <a href="/latest-update">View all</a>
    </div>
    <div class="swiper">
        <div class="drama-swape">
            <% for(var i=0; i<latestUpdate.length; i++){%>
        <div class="dramas">
          <a  href="/drama/<%= latestUpdate[i]._id %>">
          <div class="drama-s">
            <img src="/<%= latestUpdate[i].moviePoster %>" alt="">
            <h2><%= latestUpdate[i].name %></h2>
            <p><%= latestUpdate[i].category %></p>
          </div>
          </a>
        </div>
        <% } %>
    </div>
    </div>  
</div>  

<!-------------------------------NEXT RELEASE---------------------------->
<div class="other-sec">
    <div class="left-blue-header">
        <h2>Next Release</h2>
        <a href="/upcoming-releases">View all</a>
    </div>
    <div class="swiper">
        <div class="drama-swape">
            <% for(var i=0; i<nextRelease.length; i++){%>
        <div class="dramas">
          <a  href="/drama/<%= nextRelease[i]._id %>">
          <div class="drama-s">
            <img src="/<%= nextRelease[i].moviePoster %>" alt="">
            <h2><%= nextRelease[i].name %></h2>
            <p><%= nextRelease[i].releasedate %></p>
          </div>
          </a>
        </div>
        <% } %>
    </div>
    </div>  
</div> 

<!-------------------------------Last RELEASEd MOVIES---------------------------->
<div class="other-sec">
    <div class="left-blue-header">
        <h2>Last Released Movies</h2>
        <a href="/last-released-movies">View all</a>
    </div>
    <div class="swiper">
        <div class="drama-swape">
            <% for(var i=0; i<lastReleasedMovies.length; i++){%>
        <div class="dramas">
          <a  href="/drama/<%= lastReleasedMovies[i]._id %>">
          <div class="drama-s">
            <img src="/<%= lastReleasedMovies[i].moviePoster %>" alt="">
            <h2><%= lastReleasedMovies[i].name %></h2>
            <p><%= lastReleasedMovies[i].releasedate %></p>
          </div>
          </a>
        </div>
        <% } %>
    </div>
    </div>  
</div> 

<div class="other-sec">
    <div class="left-blue-header">
        <h2>Drama category</h2>
    </div>

    <div class="movies-list-section">
        <div class="white-link"><a href="/korean-drama" class="dflexx"  title="Best Korean Drama" > <i class="fas fa-chevron-circle-right"></i>Korean Drama</a></div>
        <div class="white-link"><a href="/chinese-drama" class="dflexx" title="Best Cinese Drama List"> <i class="fas fa-chevron-circle-right"></i>Chinese Drama</a></div>
        <div class="white-link"><a href="#" class="dflexx"  title="Best Korean Drama" > <i class="fas fa-chevron-circle-right"></i>Thai Drama</a></div>
      </div>
</div>

<%- include('../partials/footer'); -%>