<%- include('../partials/header'); -%>

<title>Latest Korean Drama Series to Watch in 2025</title>
<meta name="description" content="Discover the latest Korean drama series to watch in 2025. Explore top picks, exciting new releases, and the best K-dramas for this year. Stay updated with our curated list of must-see dramas!">

<meta name="keywords" content="latest Korean drama, Korean drama series, 2025 Korean dramas, best Korean dramas, Korean drama list, top Korean dramas 2025, watch Korean dramas 2025">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6183162891331331"
     crossorigin="anonymous"></script>

<link rel="stylesheet" href="/css/movie-list-new.css" />
<!-- <link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css"
/>
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"
></script> -->

 <!-------------------AD SMALL RESPONSIVE-->
 <%- include('../utils/ad-320x50'); -%>
<div class="blue-header">
     <!-------------------AD SMALL RESPONSIVE-->
 <%- include('../utils/ad-320x50'); -%>
    <!-- Header Title -->
    <div class="blue-header-heading">
        <h1>Korean Drama</h1>
      </div>

      <!-- Sort Button -->
      <div class="sort-container">
          <button class="sort-button" onclick="toggleDropdown()">Sort By</button>
          <!-- Dropdown Menu -->
          <div class="dropdown-menu" id="dropdownMenu">
            <button onclick="sortBy('year',event)">Year</button>
            <button onclick="sortBy('releaseDate',event)">Release Date</button>
            <button onclick="sortBy('recentlyAdded',event)">Recently Added</button>
          </div>
      </div>
</div>

<!-- Display the list of movies -->
<% if (drama.length > 0) { %>
    <div class="flex">
        <% drama.forEach(function(drama) { %>
            <div class="dramas">
                <a  href="/drama/<%= drama.dramalink %>">
                    <div class="drama-s">
                        <% if( drama.moviePoster && String(drama.moviePoster).trim()) { %>
                            <img data-src="/<%= drama.moviePoster %>" alt="" class="lazy-photo">
                        <% }else { %>
                            <img data-src="/images/other/poster-not-available.jpg" alt=" <%= drama.name %> Poster" class="lazy-photo">
                        <% } %>
                        <h2><%= drama.name %></h2>
                        <p><%= drama.releasedate%></p>
                        <!-- <p>Episodes: <%= drama.episodes %></p> -->
                    </div>
                </a>
            </div>
        <% }) %>
</div>
 <!-------------------AD DISPALAY RESPONSIVE-->
 <%- include('../utils/ad-display-responsive'); -%>
<!-- Responsive Pagination -->
<div class="pagination">
  <% if (currentPage > 1) { %>
      <a href="?page=<%= currentPage - 1 %>" class="pagination-link"> ❮ </a>
  <% } %>

  <!-- Always show the first page -->
  <a href="?page=1" class="pagination-link <%= currentPage === 1 ? 'active' : '' %>">1</a>

  <!-- Ellipsis before the current page if necessary -->
  <% if (currentPage > 3) { %>
      <span class="pagination-ellipsis">...</span>
  <% } %>

  <!-- Show only a few neighbors around the current page -->
  <% for (let i = Math.max(2, currentPage - 1); i <= Math.min(currentPage + 1, totalPages - 1); i++) { %>
      <a href="?page=<%= i %>" class="pagination-link <%= currentPage === i ? 'active' : '' %>">
          <%= i %>
      </a>
  <% } %>

  <!-- Ellipsis after the current page if necessary -->
  <% if (currentPage < totalPages - 2) { %>
      <span class="pagination-ellipsis">...</span>
  <% } %>

  <!-- Always show the last page -->
  <% if (totalPages > 1) { %>
      <a href="?page=<%= totalPages %>" class="pagination-link <%= currentPage === totalPages ? 'active' : '' %>">
          <%= totalPages %>
      </a>
  <% } %>

  <% if (currentPage < totalPages) { %>
      <a href="?page=<%= currentPage + 1 %>" class="pagination-link"> ❯</a>
  <% } %>
</div>


<% } else { %>
<p>No movies found.</p>
<% } %>


<%- include('../partials/footer'); -%>

<script>
        // Function to toggle dropdown visibility
        function toggleDropdown() {
            const dropdown = document.getElementById('dropdownMenu');
            dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
        }



        // Placeholder function for sorting logic
        function sortBy(type,event) {
            //event.preventDefault()
            $.ajax({
                    url: `/korean-drama?sort=${type}`,
                    type: 'GET',
                    success: function (data) {
                        
                         // Use data to update the movies section on the page
                        const moviesContainer = $(".flex"); // Target the container that holds the movie list
                        moviesContainer.empty(); // Clear current movie list
                        data.drama.forEach(function(drama) {
                        let moviePoster
                        if(drama.moviePoster && String(drama.moviePoster).trim()){
                            moviePoster=drama.moviePoster
                        }else{
                            moviePoster='images/other/poster-not-available.jpg'
                        }
                        const movieHTML = `
                            <div class="dramas">
                                <a href="/drama/${drama.dramalink}">
                                    <div class="drama-s">
                                        <img src="/${moviePoster}" alt="" class="lazy-photo">
                                        <h2>${drama.name}</h2>
                                        <p>${drama.releasedate}</p>
                                        <p>Episodes: ${drama.episodes}</p>
                                    </div>
                                </a>
                            </div>
                            `;
                             moviesContainer.append(movieHTML); // Add each movie to the container
                        });

                         // Close dropdown after selection
                    },
                    error: function (err) {
                        console.log(err);
                    }
            })
            //alert(`Sorting by ${type}`);
            // Add your sorting logic here
            toggleDropdown(); // Close dropdown after selection
        }

        // Close dropdown when clicking outside
        window.addEventListener('click', function(event) {
            const dropdown = document.getElementById('dropdownMenu');
            const button = document.querySelector('.sort-button');
            if (!dropdown.contains(event.target) && event.target !== button) {
                dropdown.style.display = 'none';
            }
        });
</script>