<%- include('../partials/header'); -%>

<link rel="stylesheet" href="/css/movie.css">
<title><%= movie.engname %> <%= dramaTitle %>: Release Date, Episodes, Cast, Reviews and More</title>
<meta name="title" content="<%= movie.engname %> <%= dramaTitle %>: Release Date, Episodes, Cast, Reviews and More"/>
<meta name="description" content="<%= movie.genre %> <%= movie.engname %> <%= dramaTitle %>. <%= movie.story %>">
<meta name="keywords" content="<%= movie.engname %> Kdrama, <%= movie.engname %> <%= movie.category %>, <%= movie.engname %> Release Date, <%= movie.engname %> Episodes, <%= movie.engname %> Cast, <%= movie.engname %> Reviews, <%= movie.category %> Drama, <%= movie.dramaTitle%>, <%= movie.engname %> <%= movie.genre %>">

<meta name="news_keywords" content="<%= movie.engname %> Kdrama, <%= movie.engname %> <%= movie.category %>, <%= movie.engname %> Release Date, <%= movie.engname %> Episodes, <%= movie.engname %> Cast, <%= movie.engname %> Reviews, <%= movie.category %> Drama, <%= movie.dramaTitle%>, <%= movie.engname %> <%= movie.genre %>"/>
<meta property="og:title" content="<%= movie.engname %> <%= dramaTitle %>: Release Date, Episodes, Cast, Reviews & More ">
<meta property="og:site_name" content="DramaLite.Com ">
<meta property="og:url" content="https://dramalite.com/drama/<%= movie.dramalink %>">
<meta property="og:description" content="<%= movie.genre %> <%= movie.engname %> <%= dramaTitle %>. <%= movie.story %>">
<meta property="og:type" content="video.movie">
<meta property="og:image" itemid="image" content="https://dramalite.com/<%= movie.moviePoster %>">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="Dramalite.com">
<meta name="twitter:title" content="<%= movie.engname %> <%= dramaTitle %>: Release Date, Episodes, Cast, Reviews & More ">
<meta name="twitter:description" content="<%= movie.genre %> <%= movie.engname %> <%= dramaTitle %>. <%= movie.story %>">
<meta name="twitter:image" content="https://dramalite.com/<%= movie.moviePoster %>">
<meta name="twitter:url" content="https://dramalite.com/drama/<%= movie.dramalink %>">
<link rel="canonical" href="https://dramalite.com/drama/<%= movie.dramalink %>"/>
<link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" >
<script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>


<script type="application/ld+json" async>
    {"@context":"http://schema.org",
    "@type":"Movie",
    "url":"https://dramalite.com/drama/<%= movie.dramalink %>",
    "name":"<%= movie.name %>",
    "image":"https://dramalite.com//<%= movie.moviePoster %> %>",
    "description":"<%= movie.story %>",
     "countryOfOrigin":{"@type":"Country","name":"<%= movie.country %>"},
     "contentLocation":{"@type":"Place","name":"<%= movie.country %>"},
     "alternateName":"<%= movie.engname %>",
     "genre":"<%= movie.genre %>",
     "datePublished":"<% if(movie.releasedate ){ %><%= movie.releasedate %>
<% }else{ %>Date not Announced<% } %>",
     "keywords":["<%= movie.tags %>"],
     <% if(rating.rating){ %>
     "aggregateRating":{"@type":"AggregateRating",
     "ratingCount":<% if(rating.ratingCount){ %><%= rating.ratingCount %> 
    <% }else{ %>0
    <% } %>,
     "bestRating":10,
     "worstRating":1,
     "ratingValue":<% if(rating.rating){ %><%= rating.rating %>
        <% }else{ %>0.0<% } %>},<% } %> 
     "actor":[
     {"@type":"Person","name":"<%= movie.actorname1 %>","url":"https://dramalite.com/celebs/<%= movie.celeblink1 %>"}<% if(movie.actorname2){ %>,
     {"@type":"Person","name":"<%= movie.actorname2 %>","url":"https://dramalite.com/celebs/<%= movie.celeblink2 %>"}
     <% } %><% if(movie.actorname3){ %> ,
     {"@type":"Person","name":"<%= movie.actorname3 %>","url":"https://dramalite.com/celebs/<%= movie.celeblink3 %>"}
     <% } %><% if(movie.actorname4) { %> ,
     {"@type":"Person","name":"<%= movie.actorname4 %>","url":"https://dramalite.com/celebs/<%= movie.celeblink4 %>"}
     <% } %><% if(movie.actorname5) { %> ,
     {"@type":"Person","name":"<%= movie.actorname5 %>","url":"https://dramalite.com/celebs/<%= movie.celeblink5 %>"}
     <% } %><% if(movie.actorname6) { %> ,
     {"@type":"Person","name":"<%= movie.actorname6 %>","url":"https://dramalite.com/celebs/<%= movie.celeblink6 %>""}
     <% } %>  
     ]}
    </script>

    <div class="err-msg">
        <div class="msg "></div>
    </div>
    <div class="drama-main">
        <div class="blue-header">
            <h1>
                <%= movie.name %>
            </h1>
        </div>
        <div class="fst-sec">
            <div class="drama-poster">
                <% if( movie.moviePoster && String(movie.moviePoster).trim()) { %>
                    <img data-src="/<%= movie.moviePoster %>" alt=" <%= movie.name %> Poster" class="lazy-photo">
                <% }else { %>
                        <img data-src="/images/other/poster-not-available.jpg" alt=" <%= movie.name %> Poster" class="lazy-photo">
                <% } %>
            </div>
            <% if(movie.releaseDate < dateNow){%>
            <!--------RATE SECTION-------------------------------->
          
                <div class="rate-section">
                    <div class="rate-number">
                        <div class="number">
                            <h4>
                                <% if(rating.rating){ %>
                                    <%= rating.rating %>
                                <% }else{ %>
                                    0.0
                                <% } %>
                                
                            </h4>
                        </div>
                    </div>
                    <div class="rate-dettails">
                        <div class="rate-form">
                            <form id="drama-rating-form" action="" method="post">
                                <input id="movie-rating" type="range" min="1" max="10" step="0.5" class="form-control-rate"
                                    name="ratingValue" required="required">
                                <div id="drama-rating-value" class="value">
                                    100
                                </div>
                                <input type="text" name="movieId" value="<%= movie._id%>" hidden>
                                <button type="submit"> Rate</button>
                            </form>
                        </div>
                        <div class="rate-d">
                            <p>Ratings: <span>
                                <% if(rating.rating){ %>
                                    <%= rating.rating %>
                                <% }else{ %>
                                    0
                                <% } %>
                                </span> from
                                <% if(rating.ratingCount){ %>
                                    <%= rating.ratingCount %> 
                                <% }else{ %>
                                    0
                                <% } %>
                                 
                                 users</p>
                        </div>
                        <div class="rate-d">
                            <p>Reviews: </p>
                            <a href="#"><%= reviews.length %> users</a>
                        </div>
                    </div>
                </div>
                <hr>
                <%}%>

                    <!-----------STORY SECTION----------------->
                    <div class="story-sec">
                        <p>
                            <%- movie.story %>
                        </p>

                    </div>

                    <hr>

                    <div class="dettails-section">
                        <div class="drama-dettails">
                            <div class="dettails-name">
                                <h4>Drama Name</h4>
                            </div>
                            <div class="dettails">
                                <p>
                                    <%= movie.name %>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="drama-dettails">
                            <div class="dettails-name">
                                <h4>Genres</h4>
                            </div>
                            <div class="dettails">
                                <p><%= movie.genre && String(movie.genre).trim() ? movie.genre : '-' %></p>
                            </div>
                        </div>
                        <hr>
                        <div class="drama-dettails">
                            <div class="dettails-name">
                                <h4>Language</h4>
                            </div>
                            <div class="dettails">
                                <p>
                                    <%= movie.category %>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="drama-dettails">
                            <div class="dettails-name">
                                <h4>Release Date</h4>
                            </div>
                            <div class="dettails">
                                <% if(movie.releasedate ) { %>
                                    <p>
                                        <%= movie.releasedate %>
                                    </p>
                                    <% }else{ %>
                                         <p>Date not Announced</p>      
                                <% } %>
                            </div>
                        </div>
                        <hr>
                        <div class="drama-dettails">
                            <div class="dettails-name">
                                <h4>Episodes End</h4>
                            </div>
                            <div class="dettails">
                                    <% if(movie.episodeEndDate ) { %>
                                        <p>
                                            <%= movie.episodeEndDate %>
                                        </p>
                                    <% }else{ %>
                                        <p>Date not Confirmed</p>      
                                    <% } %>                                     
                          
                            </div>
                        </div>
                        <hr>
                        <div class="drama-dettails">
                            <div class="dettails-name">
                                <h4>Episodes</h4>
                            </div>
                            <div class="dettails">
                                <p><%= movie.episodes && String(movie.episodes).trim() ? movie.episodes : '-' %></p>
                            </div>
                        </div>
                        <hr>
                        <% if(movie.duration) { %>
                        <div class="drama-dettails">
                            <div class="dettails-name">
                                <h4>Duration</h4>
                            </div>
                            <div class="dettails">
                                <p><%= movie.duration %></p>
                            </div>
                        </div>
                        <hr>
                        <% } %>
                        
                        <% if(movie.director) { %>
                        <div class="drama-dettails">
                            <div class="dettails-name">
                                <h4>Director</h4>
                            </div>
                            <div class="dettails">
                                <% if(movie.directorlink ) { %>
                                    <a href=" <%= movie.directorlink %>"> <%= movie.director %></a>
                                    <% }else{%>
                                        <p>
                                            <%= movie.director %>
                                        </p>
                                    <% } %>
                            </div>
                        </div>
                        <hr>
                        <% } %>
                        <% if(movie.written) { %>
                        <div class="drama-dettails">
                            <div class="dettails-name">
                                <h4>Writer</h4>
                            </div>
                            <div class="dettails">
                                <% if(movie.writtenlink ) { %>
                                    <a href=" <%= movie.writtenlink %>"> <%= movie.written %></a>
                                    <% }else{%>
                                        <p>
                                            <%= movie.written %>
                                        </p>
                                    <% } %>
                            </div>
                        </div>
                        <hr>
                        <% } %>
                        <% if(movie.producedby) { %>
                        <div class="drama-dettails">
                            <div class="dettails-name">
                                <h4>Producer</h4>
                            </div>
                            <div class="dettails">
                                <% if(movie.producedbylink ) { %>
                                    <a href=" <%= movie.producedbylink %>"> <%= movie.producedby %></a>
                                    <% }else{%>
                                        <p>
                                            <%= movie.producedby %>
                                        </p>
                                    <% } %>
                            </div>
                        </div>
                        <hr>
                        <% } %>
                        <% if(movie.tags.length>1) { %>
                            <div class="tags-section">
                                <div class="tags-header">
                                    <h4>Themes</h4>
                                    <span style="margin-left: 5px;">
                                        <% for (var i = 0; i < movie.tags.length; i++) { %>
                                            <%= movie.tags[i] %><%= (i < movie.tags.length - 1 ? ', ' : '') %>
                                        <% } %>
                                    </span>
                                </div>
                            </div>
                               
                        <% } %>
                    </div>
        </div>
    </div>

        <!-------------------CAST SECTION------------------------>
        <div class="other-sec">
            <div class="left-blue-header">
              <h2>Cast</h2>
            </div>
      
            <div class="new-cas-section">
              <% for(var i=0; i<actors?.length; i++){%>
              <div class="cast-section">
                  <a href="/celebs/<%= actors[i].celeblink %>">
                      <img src="/<%= actors[i].profilePic %>" alt="<%= actors[i].profilePic %>" srcset="" class="cast-image">
                  </a>
                  <div class="cast-data-section">
                      <a href="/celebs/<%= actors[i].celeblink %>"> <h3><%= actors[i].actorname %></h3></a>
                      <p><%= actors[i].actordramaname %></p>
                      <p><%= actors[i].actorrole %></p>
                      <p><%= actors[i].description %> </p>
                  </div>
              </div>
              <% } %>
            </div>
        </div>
    <!-------------------CAST SECTION------------------------>
    <!-- <div class="other-sec">
        <div class="left-blue-header">
            <h2>Cast</h2>
        </div>

        <div class="swiper">
            <div class="actor-swp">
                <% if(movie.actorname1) { %>
                <div class="actorswp">
                    <a href="/celebs/<%= movie.celeblink1%>" title="{{movie.actorname1}} Page">
                        <img class="lazy-photo" data-src="/<%= movie.actimg1 %>" alt=" {{movie.actorname1}}.jpg" />
                        <h6><%= movie.actorname1 %></h6>
                        <p><%= movie.celebrole1 %></p>
                        <p><%= movie.mvactorname1 %></p>
                    </a>
                </div>
                <% } %>
                <% if(movie.actorname2) { %>
                    <div class="actorswp">
                        <a href="/celebs/<%= movie.celeblink2 %>" title="{{movie.actorname2}} Page">
                            <img class="lazy-photo" data-src="/<%= movie.actimg2 %>" alt=" {{movie.actorname2}}.jpg" />
                            <h6><%= movie.actorname2 %></h6>
                            <p><%= movie.celebrole2 %></p>
                            <p><%= movie.mvactorname2 %></p>
                        </a>
                    </div>
                <% } %>
                <% if(movie.actorname3) { %>
                    <div class="actorswp">

                        <a href="/celebs/<%= movie.celeblink3 %>" title="{{movie.actorname3}} Page">
                            <img class="lazy-photo" data-src="/<%= movie.actimg3 %>" alt=" {{movie.actorname3}}.jpg" /> 
                            <h6><%= movie.actorname3 %></h6>
                            <p><%= movie.celebrole3 %></p>
                            <p><%= movie.mvactorname3 %></p>
                        </a>

                    </div>
                    <% } %>
                <% if(movie.actorname4) { %>
                    <div class="actorswp">
                        <a href="/celebs/<%= movie.celeblink4 %>" title="{{movie.actorname4}} Page">
                            <img class="lazy-photo" data-src="/<%= movie.actimg4 %>" alt=" {{movie.actorname4}}.jpg" /> 
                            <h6><%= movie.actorname4 %></h6>
                            <p><%= movie.celebrole4 %></p>
                            <p><%= movie.mvactorname4 %></p>
                        </a>
                    </div>
                <% } %>
                <% if(movie.actorname5) { %>
                    <div class="actorswp">
                        <a href="/celebs/<%= movie.celeblink5 %>" title="{{movie.actorname5}} Page">
                            <img class="lazy-photo" data-src="/<%= movie.actimg5 %>" alt=" {{movie.actorname5}}.jpg" />
                            <h6><%= movie.actorname5 %></h6>
                            <p><%= movie.celebrole5 %></p>
                            <p><%= movie.mvactorname5 %></p>
                        </a>
                    </div>
                <% } %>
                <% if(movie.actorname6) { %>
                    <div class="actorswp">
                        <a href="/celebs/<%= movie.celeblink6 %>" title="{{movie.actorname6}} Page">
                            <img class="lazy-photo" data-src="/<%= movie.actimg6 %>" alt=" {{movie.actorname6}}.jpg" />
                            <h6><%= movie.actorname6 %></h6>
                            <p><%= movie.celebrole6 %></p>
                            <p><%= movie.mvactorname6 %></p>
                        </a>
                    </div>
                <% } %>
                <% if(movie.actorname7) { %>
                    <div class="actorswp">
                        <a href="/celebs/<%= movie.celeblink7 %>" title="{{movie.actorname7}} Page">
                            <img class="lazy-photo" data-src="/<%= movie.actimg7 %>" alt=" {{movie.actorname7}}.jpg" />  
                            <h6><%= movie.actorname7 %></h6>
                            <p><%= movie.celebrole7 %></p>
                            <p><%= movie.mvactorname7 %></p>
                        </a>
                    </div>
                <% } %>
            </div>
        </div>

    </div> -->

    <!--------------------------IMAGE SECTION------------->
    <div class="other-sec">
        <div class="left-blue-header">
            <h2>Images</h2>
            <a href="/drama/<%= movie.dramalink%>/drama-images">View all</a>
        </div>
        <div class="images">
            <% if(movie.images.length >0) { %>
                <% var length= movie.images.length >6?6:movie.images.length %>
            <% for(var i=0; i<length; i++){%>
            <div class="image">
                <a href="/image/download?imgUrl=<%= movie.images[i] %>&name=<%= movie.name %>"><img data-src="/<%= movie.images[i] %>" alt="" class="lazy-photo"></a>
            </div>
            <% } %>
            <% }else{ %>
                <h7>Images currently unavailable</h7>
            <% } %>
        </div>
    </div>

<!-------------------------------WHERE TO EATCH------------>
    <div class="other-sec">
        <div class="left-blue-header">
            <h2>Where to watch</h2>
        </div>
        <div class="whereToWatch">
            <% if(movie.whereToWatch) { %>
            <% if(movie.whereToWatch.ottName) { %>
                <div class="where-img">
                    <a href="<%= movie.whereToWatch.ottUrl %>" >
                        <img class="lazy-photo" data-src="<%= movie.whereToWatch.ottImg%>" alt="">
                        <%= movie.whereToWatch.ottName%>
                    </a>
                </div>
            <% }%>
                
            <% }else {  %>  
                <h7>Not yet scheduled </h7>
            <% } %>  

        </div>
    </div>
    
    <!-----------------------TRAILER SECTION------------------->
    <% if(movie.ytlink) { %>
    <div class="other-sec">
        <div class="left-blue-header">
            <h2>Trailer</h2>
        </div>
    <div class="drama-trailer">
        <iframe 
        data-src="<%= movie.ytlink%>" class="drama-trailer-iframe lazy-photo"> 
        </iframe>
    </div>
    </div>
    <% } %>
    <% if(movie.twitLink[0]){%>
    <!--------------------------------VIDEO SECTION---------------->
    <div class="other-sec">
        <div class="left-blue-header">
            <h2>Videos</h2>
        </div>
        <div class="drama-videos">
            
                <% for (var i = 0; i < movie.twitLink.length; i++) { %>
                    <video id="videoPlayer" class="video-js vjs-default-skin" controls preload="auto">
                        <source src="<%= movie.twitLink[i] %>" type="application/x-mpegURL">
                    </video>
                    <!-- <video id="my-video-<%= i %>" class="video-js vjs-default-skin" controls>
                        <source src="<%= movie.twitLink[i] %>" type="application/x-mpegURL" class="lazy-photo" />
                    </video> -->
                <% } %>

        </div>
    </div>
    <% } %>
    <% if(movie.releaseDate < dateNow){%>
    <!----------------------NEW REVIEW SECTION----------------->
    <div class="other-sec" id="review">
        <div class="left-blue-header">
            <h2>Reviews</h2>
            <a href="/drama/write-review/<%= movie._id%>">Write Review</a>
        </div>
        <% if(review.length>0) { %>
        
        <div class="swiper">
            <% for(var i=0; i<review.length; i++){%>
            <did class="review-swiper">
                <div class="review-new-section">
                    <div class="new-review-header">
                        <div class="new-review-user-dettails">
                            <a href="/user/profile/<%= review[i].userDettails[0]._id %>" class="new-review-user-pic">
                                <img data-src="<%= review[i].userDettails[0].profilePic %>" class="lazy-photo" alt="User Profile pic">
                            </a>
                            <div class="new-review-user-name">
                                <a href="/user/profile/<%= review[i].userDettails[0]._id %>"><%= review[i].userDettails[0].name %></a>
                                <p><span><%= review[i].helpfulCount %></span> people liked this review</p>
                            </div>
                        </div>
                    </div>
                    <div class="new-review-middle">
                        <div class="new-review-dettails">
                            <div class="new-review-text">
                                <h3><%= review[i].reviewHead %></h3>
                                <p style="font-family: PingFangSC-Regular, Tahoma, Microsoft Yahei, sans-serif;"><%- review[i].reviewContent %></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="new-review-bottom">
                        <hr>
                        <div class="review-rating-section">
                            <div><h4>Story</h4><p><i class="fa-solid fa-star"></i><%= review[i].storyRating %>/10</p></div>
                            <div><h4>Cast</h4><p><i class="fa-solid fa-star"></i><%= review[i].castRating %>/10</p></div>
                            <div><h4>Overall</h4><p> <i class="fa-solid fa-star"></i><%= review[i].overall %>/10</p></div>
                            <div style="flex-direction: row;align-items: center;">

                                <div class="like">
                                    <form id="like-form" action="/drama/like-review" method="post">
                                    <input type="text" value="<%= movie._id%>" name="movieId" hidden>
                                    <input type="text" value="<%= review[i].userDettails[0]._id %>" name="reviewUserId" hidden>
                                    <button type="submit"><i class="fa-solid fa-thumbs-up"></i></button>
                                </form>
                                </div>
                                <div class="dislike">
                                    <form id="unlike-form" action="/drama/dislike-review" method="post">
                                        <input type="text" value="<%= movie._id%>" name="movieId" hidden>
                                        <input type="text" value="<%= review[i].userDettails[0]._id %>" name="reviewUserId" hidden>
                                        <button type="submit"><i class="fa-solid fa-thumbs-down"></i></button>
                                    </form>
                
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
                
            </did>
            <% } %>
        </div>
        <% }else{ %>
            <h7>Reviews not added</h7>
        <%}%>
    </div>
    <% } %>
    <div class="di">

    </div>
    <style>


    </style>

    <!-------------------------------Ongoing Drama---------------------------->
<div class="other-sec">
    <div class="left-blue-header">
        <h2>Ongoing Dramas</h2>
        <a href="/ongoing-dramas">View all</a>
    </div>
    <div class="swiper">
        <div class="drama-swape">
            <% for(var i = 0; i < ongoingDrama.length; i++) { 
                // Define the maximum length for the title
                let maxLength = 30; 
                // Truncate the movie title if it exceeds maxLength
                let truncatedName = ongoingDrama[i]?.name.length > maxLength ? ongoingDrama[i].name.substring(0, maxLength) + "..." : ongoingDrama[i].name;
            %>
            <div class="dramas">
                <a href="/drama/<%= ongoingDrama[i].dramalink %>">
                    <div class="drama-s">
                        <% if( ongoingDrama[i].moviePoster && String(ongoingDrama[i].moviePoster).trim()) { %>
                            <img data-src="/<%= ongoingDrama[i].moviePoster %>" alt="" class="lazy-photo">
                        <% }else { %>
                            <img data-src="/images/other/poster-not-available.jpg" alt=" <%= ongoingDrama[i].name %> Poster" class="lazy-photo">
                        <% } %>
                        
                        <h2 id="drama-title"><%= truncatedName %></h2>
                        <!-- <p><%= ongoingDrama[i].genre ? ongoingDrama[i].genre : n/a %></p> -->
                        <p><%= ongoingDrama[i].category %></p>
                        <!-- <p>Episodes :<%= ongoingDrama[i].episodes ? ongoingDrama[i].episodes : 0%></p> -->
                    </div>
                </a>
            </div>
            <% } %>
        </div>
    </div>
    
</div> 

<!-------------------------------Upcoming Drama---------------------------->
<div class="other-sec">
    <div class="left-blue-header">
        <h2>Upcoming Drama</h2>
        <a href="/upcoming-dramas">View all</a>
    </div>
    <div class="swiper">
        <div class="drama-swape">
            <% for(var i = 0; i < upcomingDramas.length; i++) { 
                // Define the maximum length for the title
                let maxLength = 30; 
                // Truncate the movie title if it exceeds maxLength
                let truncatedName = upcomingDramas[i]?.name.length > maxLength ? upcomingDramas[i].name.substring(0, maxLength) + "..." : upcomingDramas[i].name;
            %>
            <div class="dramas">
                <a href="/drama/<%= upcomingDramas[i].dramalink %>">
                    <div class="drama-s">
                        <% if( upcomingDramas[i].moviePoster && String(upcomingDramas[i].moviePoster).trim()) { %>
                            <img data-src="/<%= upcomingDramas[i].moviePoster %>" alt="" class="lazy-photo">
                        <% }else { %>
                            <img data-src="/images/other/poster-not-available.jpg" alt=" <%= upcomingDramas[i].name %> Poster" class="lazy-photo">
                        <% } %>
                        
                        <h2 id="drama-title"><%= truncatedName %></h2>
                        <p><%= upcomingDramas[i].releasedate %></p>
                        <!-- <p><%= upcomingDramas[i].category %></p> -->
                        
                    </div>
                </a>
            </div>
            <% } %>
        </div>
    </div>
    
</div> 

<!-------------------------------Recently Completed Dramas---------------------------->
<div class="other-sec">
    <div class="left-blue-header">
        <h2>Recently Completed</h2>
        <a href="/recently-completed">View all</a>
    </div>
    <div class="swiper">
        <div class="drama-swape">
            <% for(var i = 0; i < recentlyCompletedDrama.length; i++) { 
                // Define the maximum length for the title
                let maxLength = 30; 
                // Truncate the movie title if it exceeds maxLength
                let truncatedName = recentlyCompletedDrama[i]?.name.length > maxLength ? recentlyCompletedDrama[i].name.substring(0, maxLength) + "..." : recentlyCompletedDrama[i].name; %>
            <div class="dramas">
                <a href="/drama/<%= recentlyCompletedDrama[i].dramalink %>">
                    <div class="drama-s">
                        <% if( recentlyCompletedDrama[i].moviePoster && String(recentlyCompletedDrama[i].moviePoster).trim()) { %>
                            <img data-src="/<%= recentlyCompletedDrama[i].moviePoster %>" alt="" class="lazy-photo">
                        <% }else { %>
                            <img data-src="/images/other/poster-not-available.jpg" alt=" <%= recentlyCompletedDrama[i].name %> Poster" class="lazy-photo">
                        <% } %>
                        
                        <h2 id="drama-title"><%= truncatedName %></h2>
                        <p><%= recentlyCompletedDrama[i].genre ? recentlyCompletedDrama[i].genre : n/a %></p>
                        <p><%= recentlyCompletedDrama[i].category %></p>
                        
                    </div>
                </a>
            </div>
            <% } %>
        </div>
    </div>
    
</div> 




    <script async>
        // Initialize the Video.js player
        const player = videojs('videoPlayer');

 
        const movieRating = document.getElementById('movie-rating')

        const movieRatingValue = document.getElementById('drama-rating-value')

        movieRatingValue.textContent = 0
  
        movieRating.oninput = function () {
            movieRatingValue.textContent = this.value
        }

        $(document).ready(function () {
            $('#drama-rating-form').submit(function (event) {
                event.preventDefault()
                var formData = $(this).serialize();
                $.ajax({
                    url: `/drama/add-rating`,
                    type: 'POST',
                    headers:"Authorization",
                    data: formData,
                    success: function (data) {

                        
                        if (data.complete) {
                            $('.msg').addClass('success').text(data.msg);
                            setTimeout(function () {
                                $('.msg').removeClass('success').text('');
                            }, 1500)
                        } else if(data.auth){
                            $('.msg').addClass('error').text(data.msg);
                            setTimeout(function(){
                            	window.location.replace(`/auth/login`)
                            },2000)
                        } else{
                            $('.msg').addClass('error').text(data.msg);
                            setTimeout(function () {
                                $('.msg').removeClass('error').text('');
                            }, 3000)
                        }

                    }
                })
            })
        })


    </script>



    <%- include('../partials/footer'); -%>